mkdocs-material
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-nav-weight
mkdocs-mermaid2-plugin
pymdown-extensions
mkdocs-glightbox
mkdocs-material[imaging]
cairosvg
Pillow
olefile
defusedxml
pngquant